       /* Estilos da Página Inteira */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f9f9f9;
        }

        #cabecalho-main {
            display: flex !important;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            border-bottom-style: hidden;
            background-color: #44749D;
            color: #fff;
            padding: 1em;
            text-align: center;
            align-items: center;
        }

        #cabecalho-main .img_fun {
            width: 20%;
            margin: 2px;
            padding: 2px;
            border-radius: 50%;
        }

        #cabecalho-main .img {
            align-content: left;
            padding: 1% 1%;
            height: 92%;
            width: 16%;
            justify-content: center;
            cursor: pointer;
            margin-left: 7%;
        }

        #cabecalho-main h3 {
            margin: 0 10px;
            margin-left: auto;
        }

        .pesquisa {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }

        #filtros {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        .inputs {
            display: flex;
            width: 90%;

        }

        #search {
            flex: 1;
            text-align: center;
            width: 300px;
            font-weight: 800;
            font-size: 20px;
            border-radius: 50px;
            border: 5px solid !important;
            border-color: #5C9AC2 #2E5674 #2E5674 #5C9AC2 !important;
            margin-right: 10px;
        }

        #date {
            background-color: #dcdcdc;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            border-radius: 50px;
            border: 5px solid !important;
            border-color: #5C9AC2 #2E5674 #2E5674 #5C9AC2 !important;
            padding: 20px 20px;
            /* Ajustar o espaçamento interno */
            max-width: 300px;
            /* Limitar a largura máxima */
        }

        .container {
            width: 90% !important;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .report {
            display: flex;
            width: 30%;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px;
            border: 5px solid;
            border-color: #5C9AC2 #2E5674 #2E5674 #5C9AC2;
            border-radius: 5px;
        }

        .btn-primary {
            align-self: center;
            width: 300px;
            font-size: 25px;
            border: 5px solid !important;
            border-color: #5C9AC2 #2E5674 #2E5674 #5C9AC2 !important;
            background-color: #44749D !important;
            border-radius: 20px !important;
        }

        .btn-primary:hover {
            background: #365f7d;
            /* Azul mais escuro */
            transform: scale(1.05);
            /* Aumento ao passar o mouse */

        }

        .btn-group-sm>.btn,
        .btn-sm {
            font-size: 15px !important;
        }

        .report h2 {
            margin-top: 0;
        }

        .meta {
            font-size: 0.9em;
            color: #666;
        }

        .importance {
            font-weight: bold;
        }

        p.content {
            width: 100%;
            height: 200px;
            /* Limita a altura do parágrafo */
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            font-weight: 600;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #f9f9f9;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            /* Esconde o texto que ultrapassa a altura definida */
            text-overflow: ellipsis;
            /* Adiciona reticências (...) no final do texto se ele for muito longo */
            display: -webkit-box;
            line-clamp: 8;
            /* Limita o número de linhas (nesse caso, 4) */
            -webkit-box-orient: vertical;
        }

        p.content:focus {
            border-color: #66afe9;
            box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
            outline: none;
        }

        .read-more-btn {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            border: 5px solid !important;
            border-color: #5C9AC2 #2E5674 #2E5674 #5C9AC2 !important;
            background-color: #44749D !important;
            border-radius: 20px !important;
            cursor: pointer;
        }

        .read-more-btn:hover {
            background: #365f7d;
            /* Azul mais escuro */
            transform: scale(1.05);
            /* Aumento ao passar o mouse */
        }

        /* Modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 800px;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        #modalTextarea {
            width: 100%;
            height: 400px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-weight: 600;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #f9f9f9;
        }
        .section-title {
            margin: 20px 0;
            font-size: 25px;
            font-weight: 600;
            color: #44749D;
        }